.videoTitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 8px;
    margin-top: 0px;
}

.videoStats,
.videoAuthor{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-top: 3px;
    margin-bottom: 4px;
}

.videoDes{
    font-size: 14px;
    color: rgb(96, 96, 96);
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 44px;
}
.thumbnail{
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
}
.thumbnailbox:hover{cursor: pointer;}
.thumbnailbox:active{opacity: 0.70;}

.thumbnailbox{
    position: relative;
    transition: opacity 0.15s;
}

.time-stamp{
    font-size: 14px;
    background-color: black;
    color: white;
    position: absolute;
    display: inline-block;
    bottom: 16px;
    right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}

.videoPreview{
    width: 100%;

}

.channelpic{
    margin-right: 0px;
    vertical-align: top;
    width: 50px;
}
.channelpic:hover, .videoTitle:hover, .videoAuthor:hover{
    cursor: pointer;
}
.pfp{
    border-radius: 40px;
    width: 38px;
    vertical-align: top;
}
.videoinfo{
    margin-top: 0px;
    vertical-align: top;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 35px;
}

@media (max-width: 750px) {
    .mainGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1300px) {
    .mainGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
